<?xml version="1.0"?>
<!--
/**
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="design" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Design</label>
            <tab>general</tab>
            <resource>Magento_Config::config_design</resource>
            <group id="theme" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Design Theme</label>
                <field id="admin_theme_id" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Design Theme</label>
                    <source_model>Akai\AdminThemeSwitcher\Model\View\Design\Theme\Label::getLabelsCollectionForSystemConfiguration</source_model>
                    <backend_model>Akai\AdminThemeSwitcher\Model\Design\Backend\Theme</backend_model>
                    <comment><![CDATA[If no value is specified, the system default will be used. The system default may be modified by third party extensions.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
